{% extends 'base.html' %}
{% load static %}
{% block content%}
  {% block navbar %}
        {% include  'navbar.html' %}
    {% endblock %}

    <div class="header-margin"></div>

    <section class="section-bg layout-pt-lg layout-pb-lg">
      <div class="section-bg__item col-12">
        <img src="https://images.unsplash.com/photo-1646204894165-95ed03d988ad?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="image">
      </div>

      <div class="container">
        <div class="row justify-center text-center">
          <div class="col-xl-6 col-lg-8 col-md-10">
            <h1 class="text-40 md:text-25 fw-600 text-white">In search of happiness?</h1>
            <div class="text-white mt-15">We’re your trusted travel partner.</div>
          </div>
        </div>
      </div>
    </section>


    <section class="layout-pt-lg layout-pb-lg bg-blue-2">
      <div class="container">
        <div class="row justify-center text-center">
          <div class="col-auto">
            <div class="sectionTitle -md">
              <h2 class="sectionTitle__title">Why Choose Us</h2>
              <p class=" sectionTitle__text mt-5 sm:mt-0">These popular destinations have a lot to offer</p>
            </div>
          </div>
        </div>

        <div class="row y-gap-40 justify-between pt-50">

          <div class="col-lg-3 col-sm-6">

            <div class="featureIcon -type-1 ">
              <div class="d-flex justify-center">
                <img src="#" data-src="https://img.icons8.com/?size=100&id=9I6nfzAmgrpF&format=png&color=000000" alt="image" class="js-lazy">
              </div>

              <div class="text-center mt-30">
                <h4 class="text-18 fw-500">Best Price Guarantee</h4>
                <p class="text-15 mt-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </div>

          </div>

          <div class="col-lg-3 col-sm-6">

            <div class="featureIcon -type-1 ">
              <div class="d-flex justify-center">
                <img src="#" data-src="https://img.icons8.com/?size=100&id=26055&format=png&color=000000" alt="image" class="js-lazy">
              </div>

              <div class="text-center mt-30">
                <h4 class="text-18 fw-500">Easy & Quick Booking</h4>
                <p class="text-15 mt-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </div>

          </div>

          <div class="col-lg-3 col-sm-6">

            <div class="featureIcon -type-1 ">
              <div class="d-flex justify-center">
                <img src="#" data-src="https://img.icons8.com/?size=100&id=61443&format=png&color=000000" alt="image" class="js-lazy">
              </div>

              <div class="text-center mt-30">
                <h4 class="text-18 fw-500">Customer Care 24/7</h4>
                <p class="text-15 mt-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </div>

          </div>

        </div>
      </div>
    </section>

    <section class="layout-pt-md">
      <div class="container">
        <div class="row y-gap-30 justify-between items-center">
          <div class="col-lg-5">
            <h2 class="text-30 fw-600">About Stardaze Tour & Travels</h2>
            <p class="mt-5">These popular destinations have a lot to offer</p>

            <p class="text-dark-1 mt-60 lg:mt-40 md:mt-20">
              London is a shining example of a metropolis at the highest peak of modernity and boasts an economy and cultural diversity that’s the envy of other global superpowers.
              <br><br>
              Take the opportunity to acquaint yourself with its fascinating history chronicled by institutions like the British Museum as well as see how far it has come by simply riding the Tube and passing by celebrated landmarks like Buckingham Palace, Westminster Abbey, and marvels like Big Ben, the London Eye, and the Tower Bridge.
            </p>
          </div>

          <div class="col-lg-6">
            <img src="https://images.unsplash.com/photo-1639647383258-abee94a76f84?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="image" class="rounded-4">
          </div>
        </div>
      </div>
    </section>

    <section class="pt-60">
      <div class="container">
        <div class="border-bottom-light pb-40">
          <div class="row y-gap-30 justify-center text-center">

            <div class="col-xl-3 col-6">
              <div class="text-40 lg:text-30 lh-13 fw-600">30+</div>
              <div class="text-14 lh-14 text-light-1 mt-5">Destinations</div>
            </div>

            <div class="col-xl-3 col-6">
              <div class="text-40 lg:text-30 lh-13 fw-600">100+</div>
              <div class="text-14 lh-14 text-light-1 mt-5">Total Hotels</div>
            </div>

            <div class="col-xl-3 col-6">
              <div class="text-40 lg:text-30 lh-13 fw-600">1k+</div>
              <div class="text-14 lh-14 text-light-1 mt-5">Happy customers</div>
            </div>

          </div>
        </div>
      </div>
    </section>

    <section class="layout-pt-lg layout-pb-lg">
      <div class="container">
        <div class="row y-gap-20 justify-between items-end">
          <div class="col-auto">
            <div class="sectionTitle -md">
              <h2 class="sectionTitle__title">Our Team</h2>
            </div>
          </div>

          <div class="col-auto">

            <div class="d-flex x-gap-15 items-center justify-center">
              <div class="col-auto">
                <button class="d-flex items-center text-24 arrow-left-hover js-team-prev">
                  <i class="icon icon-arrow-left"></i>
                </button>
              </div>

              <div class="col-auto">
                <div class="pagination -dots text-border js-team-pag"></div>
              </div>

              <div class="col-auto">
                <button class="d-flex items-center text-24 arrow-right-hover js-team-next">
                  <i class="icon icon-arrow-right"></i>
                </button>
              </div>
            </div>

          </div>
        </div>

        <div class="overflow-hidden pt-40 js-section-slider" data-gap="30" data-slider-cols="xl-5 lg-4 md-2 sm-2 base-1" data-nav-prev="js-team-prev" data-pagination="js-team-pag" data-nav-next="js-team-next">
          <div class="swiper-wrapper">
            {% for member in team_members %}
            <div class="swiper-slide">
              <div class="">
                <img src="{{member.image.url}}" alt="image" class="rounded-4 col-12">

                <div class="mt-10">
                  <div class="text-18 lh-15 fw-500">{{member.name}}</div>
                  <div class="text-14 lh-15">{{member.title}}</div>
                </div>
              </div>
            </div>
            {% endfor %}

          </div>
        </div>
      </div>
    </section>

  {% block newsletter %}
        {% include  'newsletter.html' %}
    {% endblock %}
{% endblock %}
